<div class="wrapper centered">
  <form method="POST" class="centered">
    <h2 id="quest-text">{{ question() }}</h2>

    <hr />
    <div class="centered">
      <!-- url_for('api.serve_image', image_id=1)  -->
      <img [src]="" alt="Bild zur Frage" />
    </div>

    <hr />

    <button type="button" class="btn-medium" (click)="answerQuestion(1)">{{ answer1() }}</button>
    <button type="button" class="btn-medium" (click)="answerQuestion(1)">{{ answer2() }}</button>
    <button type="button" class="btn-medium" (click)="answerQuestion(1)">{{ answer3() }}</button>
    <button type="button" class="btn-medium" (click)="answerQuestion(1)">{{ answer4() }}</button>
  </form>
</div>
