<div class="centered">
  <form method="POST" class="centered">
    <h2 id="quest-text">{{ question() }}</h2>

    <hr />
    
    <!-- <div class="centered">
      <img [src]="questionImage()" alt="Bild zur Frage" />
    </div>

    <hr /> -->

    <button type="button" class="btn" (click)="answerQuestion(1)">
      {{ answer1() }}
    </button>
    <button type="button" class="btn" (click)="answerQuestion(2)">
      {{ answer2() }}
    </button>
    <button type="button" class="btn" (click)="answerQuestion(3)">
      {{ answer3() }}
    </button>
    <button type="button" class="btn" (click)="answerQuestion(4)">
      {{ answer4() }}
    </button>
  </form>
</div>
