<p>quiz-game works!</p>
<div class="wrapper centered">
  <form method="POST" class="centered">
    <h2 id="quest-text">qT</h2>

    <hr />
    <div class="centered">
      <!-- url_for('api.serve_image', image_id=1)  -->
      <img [src]="" alt="Bild zur Frage" />
    </div>

    <hr />

    <button class="btn-medium" id="answ-1">a1</button>
    <button class="btn-medium" id="answ-2">a2</button>
    <button class="btn-medium" id="answ-3">a3</button>
    <button class="btn-medium" id="answ-4">a4</button>
  </form>
</div>
