<!-- HIGHSCORES-SELECTOR -->
<div class="wrapper centered">
  <div class="header centered">
    <h1>Highscores</h1>
  </div>
  <br />

  <div class="select-wrapper">
    <form>
      <label for="mode">Quizmodus:</label>
      <select
        id="mode"
        name="mode"
        [(ngModel)]="mode"
        (ngModelChange)="onModeChange()"
      >
        <option value="full">Alle Bereiche</option>
        <option value="categ">Kategorie</option>
        <option value="topic">Thema</option>
      </select>
    </form>

    <form>
      <label for="category">Kategorie:</label>
      <select
        id="category"
        name="selectedCategory"
        [(ngModel)]="selectedCategory"
        (ngModelChange)="onCategoryChange($event)"
      >
        @if (mode === "categ" || mode === "topic") { @for (category of
        categories().categories; track category.category_id) {
        <option
          [value]="category.category_id"
          [selected]="category.category_id === 0"
        >
          {{ category.category }}
        </option>
        } }
      </select>
    </form>

    <form>
      <label for="topic">Themen:</label>
      <select
        id="topic"
        name="selectedTopic"
        [(ngModel)]="selectedTopic"
        (ngModelChange)="onTopicChange($event)"
      >
        @if (mode === "topic" && categorySelected) { @for (topic of
        availableTopics; track topic.topic_id) {
        <option [value]="topic.topic_id" [selected]="topic.topic_id === 0">
          {{ topic.topic }}
        </option>
        } }
      </select>
    </form>
  </div>

  <!-- HIGHSCORES TABLE -->
  <div class="scroll-container bordered">
    <table>
      <tr>
        <th>Spieler</th>
        <th>Punktzahl</th>
        <th>Datum</th>
      </tr>
      @for (entry of highscores; track $index) {
      <tr>
        <td>{{ entry.name }}</td>
        <td>{{ entry.score }}</td>
        <td>{{ entry.date }}</td>
      </tr>
      }
    </table>
  </div>
</div>
