{% extends "base.html" %}

{% block styles %}
<link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/quiz.css') }}">    
{% endblock %}

{% block content %}

    <div class="wrapper centered">
        <form method="POST" class="centered">
            <h2 id="quest-text">qT</h2>
            
            <hr>
            <div class="centered">
                <img src="{{ url_for('api.serve_image', image_id=1) }}" alt="Bild zur Frage">
            </div>

            <hr>
        
            <button class="btn-medium" id="answ-1">a1</button>
            <button class="btn-medium" id="answ-2">a2</button>
            <button class="btn-medium" id="answ-3">a3</button>
            <button class="btn-medium" id="answ-4">a4</button>   
        </form>
    </div>

{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='script/quiz.js') }}" defer></script>
{% endblock %}