<!-- SELECTION-BEREICH -->
<div class="wrapper centered">
  <h2>Fragenauswahl</h2>

  <hr />

  <label>Anzahl Fragen: {{ questionAmount }}</label>
  <label id="qamount-label"></label>
  <input
    type="range"
    min="1"
    max="30"
    step="1"
    [(ngModel)]="questionAmount"
    (ngModelChange)="onRangeChange($event)"
  />

  <hr />

  <form class="centered">
    <label for="category">Kategorie:</label>
    <select id="category">
      <option id="cat_def_opt">Bitte wählen!</option>
      @for (category of categories().categories; track category.category_id) {
      <option [value]="category.category_id">{{ category.category }}</option>
      }
    </select>
    <button class="btn" (click)="startCategory()">
      Spiel' eine Kategorie!
    </button>
  </form>

  <hr />

  <form class="centered">
    <label for="topic">Thema:</label>
    <select id="topic">
      <option>Kategorie fehlt!</option>
    </select>
    <button class="btn" (click)="startTopic()">Spiel' ein Thema!</button>
  </form>

  <hr />

  <form class="centered">
    <button class="btn" (click)="startFull()">Alle Bereiche!</button>
  </form>
</div>
