/* ### VARIABLES ### */
:root {
    /* dark */
    --dark-blue: #161638;
    --navy-blue: #18206F;
    --light-navy-blue: #1d2785;
    --matt-blue: #1B435E;
    --light-blue: #3d82a7;
    --light-purp: #563457;
    --dark-purp: #302442;
    --grey: #CBCBD4;
    --light-grey: #e8e8f0;
    --gold: #D4AF37;

    /* light */
    --yellow: #FFED00;
    --yellow-orange: #F8B405;
    --orange: #F17A0A;
    --light-red: #EA400F;
    --dark-red: #E30613;
}


/* ### DEFAULTS ### */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("../images/classroom.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
h1, h2 {
    text-align: center;
    padding-top: 1.4rem;
}
hr {
    width: 100%;
    margin: 5% 0;
}
option {
    text-align: center;
}


/* ### UTILITY ### */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}


/* ### GENERAL ### */
.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bordered {
    border: 2px solid var(--grey);
    border-radius: 12px;
    padding: 1.5%;
}

.w100 {
    width: 100%;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.btn-small{
    width: 50%;
    min-width: fit-content;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    margin: 4%;
    padding: 1.5%;
}
.btn-medium{
    width: 100%;
    height: 40px;
    min-height: fit-content;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 20px;
    color: #333;
    font-weight: 600;
    margin: 4%;
    padding: 1.5%;
}

.wrapper {
    width: 320px;
    height: 75vh;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}
@media (min-width: 768px) {
    .wrapper {
        height: fit-content;
        padding: 30px 40px;
    }
    
}
.wrapper h1 {
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

form {
    font-size: 18px;
    width: 100%;
    margin: 1.5%;
}
form label {
    font-size: 22px;
}
form select {
    font-size: 18px;
    width: 75%;
    margin: 4% 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;    
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder {
    color: #fff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    font-size: 20px;
}

.scroll-container {
    overflow: hidden;
    overflow-y: scroll;
    height: 350px;
    width: 100%;
    margin: 3%;
    padding: 1.5%;
    text-align: center;
}

table {
    width: 100%;
}
table a {
    font-size: 1.1rem;
}
th {
    text-align: center;
}


/* ### LINK STYLE ### */
a {
    text-decoration: none;
    font-size: 1.3rem;
}
a:link {
    color: var(--gold);
}
a:visited {
    color: var(--gold);
}
a:hover {
    color: var(--light-red);
}
a:active {
    color: var(--dark-red);
}


/* ### ERROR-BOX ### */
#error_box {
    position: relative;
    width: 100%;
    height: 24px;
    margin: 24px 0;
    text-align: center;
}
#error_box p {
    width: 60%;
    margin: auto;
    padding: .25rem;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: #fff;
    color: var(--dark-red);
    font-weight: bold;
}


footer {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    width: 100%;
}
footer p {
    margin-left: 1rem;
    color: var(--grey);
    text-align: center;
}



@media (min-width: 420px) {
    .wrapper {
        font-size: 18px;
        width: 420px;
        height: fit-content;
    }
    form label {
        font-size: 20px;
    }
    form select {
        font-size: 18px;
    }

    footer {
        position: absolute;
        bottom: 0;
        font-size: 16px;
    }
}
