/* ### LOGIN-FORM ### */

.wrapper {
    height: fit-content;
    padding: 30px 40px;
}


#show-password {
    display: flex;
    justify-content: flex-end;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

#show-password label input {
    accent-color: #fff;
    margin-right: 3px;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
