<div class="mobile-nav-dropdown">
  <div class="mobile-nav-button bordered">&equiv;</div>
  <div class="mobile-nav-content clearfix">
    <ul>
      <li class="bordered">
        <a [routerLink]="['/']" routerLinkActive="active">Über mich</a>
      </li>
      <li class="bordered">
        <a [routerLink]="['/projects']" routerLinkActive="active">Projekte</a>
      </li>
      <li class="bordered">
        <a [routerLink]="['/qualifications']" routerLinkActive="active"
          >Qualifikationen</a
        >
      </li>
      <li class="bordered">
        <a [routerLink]="['/contact']" routerLinkActive="active">Kontakt</a>
      </li>
    </ul>
  </div>
</div>
