<div class="mobile-nav-dropdown">
  <div class="mobile-nav-button bordered">&equiv;</div>
  <div class="mobile-nav-content clearfix">
    <ul>
      <li class="bordered">
        <a [routerLink]="['/']" routerLinkActive="active">Startseite</a>
      </li>
      <li class="bordered">
        <a [routerLink]="['/main-menu']" routerLinkActive="active">Hauptmenü</a>
      </li>
      <li class="bordered">
        <a [routerLink]="['/highscores']" routerLinkActive="active"
          >Highscores</a
        >
      </li>
    </ul>
  </div>
</div>
