{% extends "base.html" %}

{% block styles %}
<!-- <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style/selection.css') }}">     -->
{% endblock %}

{% block content %}

    <!-- SELECTION-BEREICH -->
    <div class="wrapper centered">

        <h1>Werde zum Quiz-Hunter</h1>
        
        <hr>

        <label>Anzahl Fragen:</label>
        <label id="qamount-label"></label>
        <input type="range" min="1" max="30" value="10" step="1" id="qamount" oninput="updateAmountLabel()">

        <hr>

        <form class="centered">
            <label for="category">Kategorie:</label>
            <select id="category" onchange="updateTopics(event)">
                <option id="cat_def_opt">-- Bitte wählen! --</option>
            </select>
            <button class="btn-small" onclick="startCategory(event)">Spiel' eine Kategorie!</button>
        </form>
        
        <hr>
        
        <form class="centered">
            <label for="topic">Thema:</label>
            <select id="topic">
                <option>-- Kategorie fehlt! --</option>
            </select>
            <button class="btn-small" onclick="startTopic(event)">Spiel' ein Thema!</button>
        </form>

        <hr>

        <form class="centered">
            <button class="btn-small" onclick="startFull(event)">Alle Bereiche!</button>
        </form>

    </div>
    
{% endblock %}


{% block script %}
<script src="{{ url_for('static', filename='script/selection.js') }}" defer></script>
{% endblock %}